form {
    text-align: center;
    font-size: larger;
}

p {
    text-align: center;
    color: white;
    font-size: larger;
}



input {
    background-color: #202537;
    color: white;
}



p a {
    color: white;
}